/*body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    color: honeydew;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

.header {
    min-height: 450px;
    color: honeydew;
    text-align: center;
}
.backimage {
    position: absolute;
    background: grey;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.8;
}

div img {
    width: 100%;
    height: 450px;
}

.header h1 {
    padding-top: 100px;
    padding-bottom: 0;
}

h1 {
    font-weight: bold;
    margin: 0;
}

div {
    display: block;
}

.content {

    margin: 0 100px 0 100px;
}
*/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color:grey ;
}

.backimg {
  background-color: grey;
  background-image: url("https://www.avcadvisory.ru/wp-content/uploads/2018/04/ETF-investitsionnye-fondy.jpg");
  min-width: 100%;
  height: 450px;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  text-align: center;
}

.content {
    width: 500px;
    height: 300px;
    display: inline-block;
    margin-top: 10%;
} 

.content h1 {
    margin: 0;
}

.paragraf1 {
    width: 50%;
    min-height: 200px;
    float: left;
    font-size: 16px;
    font-weight: bold;

}

.paragraf2 {
    width: 50%;
    min-height: 200px;
    float: right;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
}

.container {
    width: 950px;
    height: 300px;
    display: inline-block;
    padding-left: 23%;
    
}

.container h2 {
    text-align: center;
}

p {
    margin: 0;
}