body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: gray;
    font-weight: bold;
}

h1, h3 {
    margin: 0;
}

.backimg {
  position: relative;
  background-color: grey;
  background-image: url("https://www.avcadvisory.ru/wp-content/uploads/2018/04/ETF-investitsionnye-fondy.jpg");
  min-width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  text-align: center;
}

.content {
    position: absolute;
    width: 500px;
    height: 120px;
    top: 60px;
    left: 35%;
}

.links {
    position: absolute;
    width: 550px;
    height: 100px;
    top: 200px;
    left: 33%;
}

.btn {
    border: 2px solid honeydew;
    padding: 15px;
    width: 115px;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
    margin-left: 15px;
    background-color: gray;
}

.container1 {
    position: relative;
    width: 100%;
    height: 200px;
    display: inline-block;
    
}

.paragraf1 {
    position: absolute;
    width: 500px;
    height: 100px;
    font-size: 16px;
    font-weight: bold;
    left: 17%;

}

.paragraf2 {
    position: absolute;
    width: 500px;
    height: 100px;
    font-size: 16px;
    font-weight: bold;
    right: 17%;
}


.container1 h2 {
    text-align: center;
}

p {
    margin: 0;
}

.container2 {
    position: relative;
    width: 100%;
    height: 480px;
    text-align: center;
    background-color: black;
}

.card1 {
    position: absolute;
    width: 250px;
    height: 420px;
    background-color: gray;
    top: 30px;
    left: 25%;
    
}

.card2 {
    position: absolute;
    width: 250px;
    height: 420px;
    background-color: gray;
    top: 30px;
    left:42%;
}

.card3 {
    position: absolute;
    width: 250px;
    height: 420px;
    background-color: gray;
    top: 30px;
    right: 27%;

    
}
.card1 img, .card2 img, .card3 img {
    width: 250px;
    height: 120px;
}

.card-title {
    padding-bottom: 10px;
    padding-top: 10px;
}

.container3 {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: grey;
    text-align: center;
}

.video1 {
    position: absolute;
    width: 500px;
    height: 400px;
    top: 40px;
    left: 20%;
    
}

.video2 {
    position: absolute;
    width: 500px;
    height: 400px;
    top: 40px;
    right: 20%;      
}

.container4 {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: black;
    
}

.contacts {
    position: absolute;
    width: 320px;
    height: 100px;
    top: 10%;
    right:30px;
}

.contacts li {
    padding-bottom: 10px;
}

.faq {
    position: absolute;
    width: 320px;
    height: 100px;
    top: 10%;
    right:23%;
}

.faq li {
    padding-bottom: 10px;
}